$color-border: #9f979773;
$color-border-focus: #007bff;
$color-background-li: #f6bef5;
$color-background-dropdown: #ffffff;
$color-text-highlight: $color-border-focus;


$font-family: sans-serif;

$font-size-item: 14px;
$font-size-input:16px;

$width-container: 400px; 
$height-input: 40px;     
$border-radius: 8px;     
$margin-dropdown-item: 13px; 

$dropdown-min-height: 180px;
$dropdown-max-height: 400px;