$height-input: 45px;
$focus-color: #007bff;
$font-allelement: sans-serif;
$border-color: #9f979773;
$icon-color: #0a00007d;
$icon-color-active: #0a0000c2;
$hover-background: #ece7e773;
$text-color: #00000094;
$font-size: 16px;
$cursor: pointer;
$chip-bg-color: #e0e0e0;
$chip-text-color: #333;
$chip-hover-bg-color: #d0d0d0;
$chip-border-radius: 16px;
